<!DOCTYPE html>
<html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<style>
    body {
        background: #f0efef;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    table,
    th,
    td {
        border-collapse: collapse;
    }
</style>

<body>
    <table
        style="max-width:650px; width: 100%; margin-left: auto; margin-right: auto; padding: 0 50px;">
        <tr>
            <td style="background: #fff";>
                <table
                    style="background: #fff;max-width:650px; width: 100%; margin-left: auto; margin-right: auto; padding: 0 50px;">
                    <tr>
                        <td>
                            <table style="margin: 0 30px 20px;">
                                <tr>
                                    <td style="text-align: center; padding: 20px 0;">
                                        <img style="max-width: 100px;" src="http://34.135.45.97/static/assets/images/logo.png" alt="logo" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <p style="color: #000; font-weight: 600; font-size: 20px;"><strong>Hi {{email}},</strong></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 50px 0 20px 0;  font-size: 14px;  color: #666666;">
                                        Please click on below link to reset your password.
                                    </td>
                                </tr>
                                <tr>
                                    <td  style="padding-bottom: 50px; text-align: center;">
                                        <p style="margin: 0 0px 10px 20px;">
                                            <a href="{{reset_password_link}}" style="background: #11C096; padding: 10px 20px; display: inline-block; border-radius: 5px;
                                                text-decoration: none; color: #fff;">
                                                Reset Password
                                            </a>
                                        </p>
                                    </td>
                                </tr>
                              
                                </tr>     
                                <tr>
                                    <td  style="padding: 50px 0 0px 0;color: #666666;">
                                        <p style="margin: 0;">The Arspace Team</p>
                                    </td>
                                </tr>                       
                            </table>
                      
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style=" width: 100%;">
                                <tr>
                                    <td style="position: relative; top: 10px;">
                                        <img style="width: 100%; position: relative; top: 10px;" src="http://34.135.45.97/static/assets/images/logo.png" alt="FooterBg Image"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 30px 50px; background-color: #F5F6F7;">
                                        <table style="background-color: #F5F6F7; width: 100%;">
                                            
                                            <tr>
                                                <td>
                                                    <p style="font-size: 12px; line-height: 16px; margin: 0px; color: #999999;">
                                                        We are required to send you this email in order to fulfill our <a style="text-decoration: underline;color: #000;" href="https://baly.co.ma/termsandconditions">Terms and Conditions</a>, or for other legal reasons.
                                                        It is not possible to unsubscribe from these emails. To read up on your rights and more detailed information 
                                                        on how we use your personal data, please see our <a style="text-decoration: underline;color: #000;" href="https://baly.co.ma/privacypolicy">Privacy Policy</a>.</p>
                                             
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>