{% extends "master.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
       <div class="col-12">
          <div class="page-title-box">
             <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Edit User</li>
                </ol>
             </div>
             <h4 class="page-title">Edit User</h4>
          </div>
       </div>
    </div>
    <!-- end page title -->
    <div class="row">
       <div class="col-12">
          <div class="card">
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                     {% for field in form %}
                        <div class="fieldWrapper mb-2">
                           {{ field.label_tag }} {{ field }}
                           {{ field.errors }}
                        </div>
                     {% endfor %}
                     <div class="dropzone-previews mt-3" id="file-previews">
                        <div class="card mt-1 mb-0 shadow-none border dz-processing dz-image-preview dz-success dz-complete">
                           <div class="p-2">
                              <div class="row align-items-center">
                                 {% if user.profile_picture %}
                                    <div class="col-auto"> <img class="avatar-sm rounded bg-light" src="{{user.profile_picture.url}}"> </div>
                                 {% else %}
                                    <div class="col-auto"> <img src="{% static 'assets/admin/images/users/avatar-1.jpg' %}" class="avatar-sm rounded bg-light" alt="profile-image"></div>
                                 {% endif %}
                              </div>
                           </div>
                        </div>
                     </div>
                     <button type="submit" class="btn btn-primary mt-2 me-2"><i class="mdi mdi-basket me-1"></i>Update</button>
                </form>
             </div>
             <!-- end card-body-->
          </div>
          <!-- end card-->
       </div>
       <!-- end col -->
    </div>
    <!-- end row --> 

    <div class="row">
      <div class="col-12">
         <div class="card">
            <div class="card-body">
               <form id="generate-ticket" method="POST" action="">
                  {% csrf_token %}
                  <select class="form-select" id="event">
                     <option value="">Select Event</option>
                     {% for event in events %}
                        <option value={{event.id}}>{{event.title}}</option>
                     {% endfor %}
                  </select>
                  <select class="form-select mt-2" id="ticket">
                     <option value="">Select Ticket</option>
                     {% for ticket in tickets %}
                        <option value={{ticket.id}}>{{ticket.name}}</option>
                     {% endfor %}
                  </select>
                  <button type="submit" id="generate-free-ticket" data-uuid="{{user.uuid}}" class="btn btn-primary mt-3">Generate Free Ticket</button>
               </form>
            </div>
         </div>
      </div>
    </div>
 </div>
{% endblock content %}
{% block js %}
<script>
   const generate_ticket_url = "{% url 'generate-ticket' %}"
</script>
<script src="{% static 'assets/admin/js/users/ticket.js' %}"></script>
{% endblock js %}