{% extends "front/layouts/master.html" %}
{% load static %}
{% block content %}
<section id="main">
    <h2>About Us</h2>
    <p>ARSPACE TECHNOLOGY LTD. is an entertainment and technology company founded in Vancouver. We are dedicated to providing innovative entertainment and technology solutions for young people, enabling them to enjoy life and experience cutting-edge technology.</p>
    <p>Our mission is to create unique entertainment experiences for the younger generation through advanced technology and creativity. Whether it's machine learning user matching mechanism, virtual reality night club events, or smart entertainment devices, we are constantly exploring and innovating to bring unlimited possibilities to our users.</p>
    <h2>Are You an Event Holder?</h2>
    <p>If you are an event holder looking to list your nightclub events on our app or sell tickets through our platform, please contact us via email haochen@arspace.website! We have a sophisticated admin system that allows you to monitor ticket sales trends, manage your events efficiently, and maximize your reach.</p>
</section>
{% endblock content %}