{% load static %}
<footer class="footer footer-alt">{% now 'Y' %} © Arspace</footer>
<script src="{% static 'assets/admin/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/admin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'assets/admin/vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'assets/admin/js/pages/demo.dashboard-projects.js' %}"></script>
<script src="{% static 'assets/admin/js/app.min.js' %}"></script>
<script src="{% static 'assets/admin/js/plugins/validate/validate.js' %}"></script>
<script src="{% static 'assets/admin/js/plugins/toastr/toastr.min.js' %}"></script>

