{% load static %}
<head>
    <meta charset="utf-8" />
    <title>Arspace Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'assets/admin/images/logo.png' %}">
    <!-- Plugin css -->
    <link href="{% static 'assets/admin/vendor/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Theme Config Js -->
    <script src="{% static 'assets/admin/js/hyper-config.js' %}"></script>
    <!-- App css -->
    <link href="{% static 'assets/admin/css/app-saas.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />
    <!-- Icons css -->
    <link href="{% static 'assets/admin/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/admin/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet" type="text/css" />
    {% block css %}
    {% endblock css %}
    {% csrf_token %}
</head>