{% load static %}
<footer>
    <p>&copy; 2024 ARSPACE TECHNOLOGY LTD. All rights reserved.</p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
    AOS.init();
    document.getElementById('logo-video').addEventListener('ended', function() {
        this.currentTime = this.duration - 0.1; // 倒数第二帧
        this.pause();
    }, false);
    document.querySelector('.menu-icon').addEventListener('click', function() {
        document.querySelector('nav ul').classList.toggle('show');
    });
</script>
<script>
    document.querySelector('.menu-icon').addEventListener('click', function() {
        this.classList.toggle('active');
        document.querySelector('nav').style.transform = this.classList.contains('active') ? 'translateY(0)' : 'translateY(-100%)';
    });
</script>
<script>
    const menuIcon = document.querySelector('.menu-icon');
    const nav = document.querySelector('nav');

    menuIcon.addEventListener('click', function() {
        if (nav.classList.contains('active')) {
            nav.classList.remove('active');
        } else {
            nav.classList.add('active');
        }
    });

    // 点击导航链接时也收起导航栏
    nav.querySelectorAll('a').forEach(link => {
        link.addEventListener('click', function() {
            nav.classList.remove('active');
        });
    });
</script>


