{% load static %}
<header>
    <div class="header-content">
        <div class="video-container">
            <video autoplay muted playsinline class="mp4-logo" id="logo-video">
                <source src="{% static 'assets/front/images/logo.mp4' %}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="menu-icon">&#9776;</div> <!-- 汉堡菜单图标 -->

        <nav>
            <ul>
                <li><a href="/">Arspace App</a></li>
                <li><a href="{% url 'product' %}">Install Now</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
            </ul>
        </nav>
    </div>
</header>