{% extends "master.html" %}
{% load static %}
{% block css %}
<link href="{% static 'assets/admin/css/plugins/datatables/bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/admin/css/plugins/datatables/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock css %}
{% block content %}
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
       <div class="col-12">
          <div class="page-title-box">
             <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                    <li class="breadcrumb-item active">Tickets List</li>
                </ol>
             </div>
             <h4 class="page-title">Tickets List</h4>
          </div>
       </div>
    </div>
    <!-- end page title -->
    <div class="row">
       <div class="col-12">
          <div class="card">
             <div class="card-body">
                <div class="row mb-2">
                   <div class="col-xl-12">
                      <div class="text-xl-end mt-xl-0 mt-2">
                           <a href="{% url 'admin-tickets-create' %}" class="btn btn-primary mb-2 me-2"><i class="mdi mdi-basket me-1"></i> Add New Ticket</a>
                      </div>
                   </div>
                   <!-- end col-->
                </div>
                <table class="table dt-responsive nowrap w-100" id="tickets-list">
                    <thead class="table-light">
                        <tr>
                           <th>Name</th>
                           <th>Price</th>
                           <th>Left</th>
                           <th>Units</th>
                           <th>Created At</th>
                           <th style="width: 125px;">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
             </div>
             <!-- end card-body-->
          </div>
          <!-- end card-->
       </div>
       <!-- end col -->
    </div>
    <!-- end row --> 
 </div>
<!-- Delete Confirmation Modal --> 
<div id="ticket-delete-alert-modal" class="modal fade" tabindex="-1" style="display: none;" aria-modal="true" role="dialog">
   <div class="modal-dialog modal-sm">
      <div class="modal-content modal-filled bg-dark">
         <div class="modal-body p-4">
               <div class="text-center">
                  <i class="ri-close-circle-line h1"></i>
                  <h4 class="mt-2">Are you sure?</h4>
                  <p class="mt-3">Do you really want to delete this record? This process cannot be undone.</p>
                  <button type="button" class="btn btn-light my-2" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-danger my-2 deleteBtn" data-uuid="" data-bs-dismiss="modal">Delete</button>
               </div>
         </div>
      </div>
   </div>
</div>
<!--/ Delete Confirmation Modal -->
{% endblock content %}
{% block js %}
<!-- Datatables js -->
<script src="{% static 'assets/admin/js/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/admin/js/plugins/datatables/bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/admin/js/plugins/datatables/responsive.min.js' %}"></script>
<script src="{% static 'assets/admin/js/plugins/datatables/responsive.bootstrap5.min.js' %}"></script>
<script>
    const admin_tickets_list = "{% url 'admin-tickets-list' %}";
    const GCP_BUCKET_URL = "{{GCP_BUCKET_URL}}";
</script>
<script src="{% static 'assets/admin/js/tickets/index.js' %}"></script>
{% endblock js %}