{% extends "master.html" %}
{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                        <li class="breadcrumb-item active">Settings</li>
                    </ol>
                    </div>
                    <h4 class="page-title">Settings</h4>
                </div>
            </div>
        </div>
        <!-- end page title -->
        <div class="row">            
            <div class="col-xl-12 col-lg-7">
                <div class="card">
                    <div class="card-body"> 
                        <div class="tab-content"> 
                            <div class="tab-pane active show" id="update_info" role="tabpanel">
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="firstname" class="form-label">Stripe Publishable key</label>
                                               <input type="text" class="form-control" name="stripe_publishable_key" value="{{'stripe_publishable_key'|get_setting_meta_value_by_meta_key }}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="useremail" class="form-label">Stripe Secret Key</label>
                                               <input type="text" class="form-control" name="stripe_secret_key" value="{{'stripe_secret_key'|get_setting_meta_value_by_meta_key }}">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="fees" class="form-label">Fees</label>
                                               <input type="text" class="form-control" name="fees" value="{{'fees'|get_setting_meta_value_by_meta_key }}">
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary mt-2"><i class="mdi mdi-content-save"></i> Save</button>
                                    </div>
                                </form>                                    
                            </div>
                        </div>
                        <!-- end tab-content -->
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row-->
    </div>
{% endblock content %}
{% block js %}
<script src="{% static 'assets/admin/js/profile.js' %}"></script>
<script src="{% static 'assets/admin/js/plugins/jquery-mask/jquery.mask.min.js' %}"></script>
{% endblock js %}